# PREDICCIÓN DE VENTAS SEMANALES DE WALMART

### Modelo de regresión con Pycaret y Sklearn

#### Etapas del modelo
1. Análisis de calidad de datos
2. Análisis exploratorio de datos (EDA)
3. Ingenieria de caracteristicas (creación de columnas, categorias, eliminar, limpiezas,transformaciones, etc)
4. Fase de modelado:
- Pycaret
- Sklearn
5. Comparación de modelos con métricas
6. Resultados y conclusiones

## Fase 1:
### Instalación de librerías y carga de datos desde MySQL

In [ ]:
#pip install mysql

Collecting mysql
  Using cached mysql-0.0.3-py3-none-any.whl (1.2 kB)
Collecting mysqlclient
  Using cached mysqlclient-2.2.7-cp311-cp311-win_amd64.whl (207 kB)
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.2.7
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
#pip install mysql-connector-python

Collecting mysql-connector-python
  Using cached mysql_connector_python-9.5.0-cp311-cp311-win_amd64.whl (16.5 MB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
#pip install pandas

In [ ]:
#pip install numpy

Requirement already satisfied: numpy in c:\users\rrosm\documents\github\walmart\.venv\lib\site-packages (2.3.5)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
#pip install seaborn

Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\rrosm\documents\github\walmart\.venv\lib\site-packages (from seaborn) (2.3.5)
Requirement already satisfied: pandas>=1.2 in c:\users\rrosm\documents\github\walmart\.venv\lib\site-packages (from seaborn) (2.3.3)
Collecting matplotlib!=3.6.1,>=3.4
  Using cached matplotlib-3.10.7-cp311-cp311-win_amd64.whl (8.1 MB)
Collecting contourpy>=1.0.1
  Using cached contourpy-1.3.3-cp311-cp311-win_amd64.whl (225 kB)
Collecting cycler>=0.10
  Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.61.0-cp311-cp311-win_amd64.whl (2.3 MB)
     ---------------------------------------- 2.3/2.3 MB 29.7 MB/s eta 0:00:00
Collecting kiwisolver>=1.3.1
  Using cached kiwisolver-1.4.9-cp311-cp311-win_amd64.whl (73 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\rrosm\documents\github\walmart\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Collecting pillow>=8
  Using cached pillow-12.0.0-cp311-cp311-win_amd64.whl (7.0 MB)
Collecting pyparsing>=3
  Using cached pyparsing-3.2.5-py3-none-any.whl (113 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\rrosm\documents\github\walmart\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rrosm\documents\github\walmart\.venv\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rrosm\documents\github\walmart\.venv\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\rrosm\documents\github\walmart\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.3 cycler-0.12.1 fonttools-4.61.0 kiwisolver-1.4.9 matplotlib-3.10.7 pillow-12.0.0 pyparsing-3.2.5 seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
#pip install scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.7.2-cp311-cp311-win_amd64.whl (8.9 MB)
Requirement already satisfied: numpy>=1.22.0 in c:\users\rrosm\documents\github\walmart\.venv\lib\site-packages (from scikit-learn) (2.3.5)
Collecting scipy>=1.8.0
  Downloading scipy-1.16.3-cp311-cp311-win_amd64.whl (38.7 MB)
     --------------------------------------- 38.7/38.7 MB 34.4 MB/s eta 0:00:00
Collecting joblib>=1.2.0
  Using cached joblib-1.5.2-py3-none-any.whl (308 kB)
Collecting threadpoolctl>=3.1.0
  Using cached threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.5.2 scikit-learn-1.7.2 scipy-1.16.3 threadpoolctl-3.6.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
# Importación de librerías

## Manipulación de datos
import pandas as pd
import numpy as np

# Visualización de datos
import seaborn as sns
import matplotlib.pyplot as plt

# Modelado y evaluación
import sklearn

In [9]:

# Procesamiento y modelado con skylearn
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

## Modelos robustos de regresión
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor
from sklearn.svm import SVR

from xgboost import XGBRegressor

from lightgbm import LGBMRegressor

pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)

In [14]:
# Conectar base de datos con MySQL
import mysql.connector
from mysql.connector import Error

Conexion = mysql.connector.connect(
    host='localhost',       
    database='curso_python',
    user='root',
    password='Maracuya134',
    port='3306'
)

In [15]:
Query = "SELECT * FROM curso_python.walmart;"

In [16]:
df_walmart = pd.read_sql(Query, Conexion)

C:\Users\rrosm\AppData\Local\Temp\ipykernel_19064\156267084.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_walmart = pd.read_sql(Query, Conexion)

In [17]:
# Analisis exploratorio de datos
df_walmart.head()
df_walmart.info()
df_walmart.describe()
df_walmart.isnull().sum()
df_walmart.duplicated().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

np.int64(0)

In [18]:
df_walmart.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.57,211.10,8.11
1,1,12-02-2010,1641957.44,1,38.51,2.55,211.24,8.11
2,1,19-02-2010,1611968.17,0,39.93,2.51,211.29,8.11
3,1,26-02-2010,1409727.59,0,46.63,2.56,211.32,8.11
4,1,05-03-2010,1554806.68,0,46.50,2.62,211.35,8.11

In [19]:
df_walmart.shape

(6435, 8)